:root {
  /* Rojo Frito-Lay (Primario) */
  --ion-color-primary: #cf202e;
  --ion-color-primary-rgb: 207,32,46;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #b61c28;
  --ion-color-primary-tint: #d43643;

  /* Amarillo (Secundario) */
  --ion-color-secondary: #fbd30c;
  --ion-color-secondary-rgb: 251,211,12;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-shade: #ddba0b;
  --ion-color-secondary-tint: #fcd724;

  /* Fondo General */
  --ion-background-color: #f4f5f8;
}